.menu
{
    background: #F2913D;
    height: 100px;
}

.menu-lista 
{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    font: normal 1em system-ui;
}

ul
{
    background: #F2913D;

}

.menu-lista > li 
{

    list-style-type: circle;
    margin: 0 25px;
}

.footer
{

    color: #fff;
    background-color: #F2913D;
    text-align: center;
    padding: 20px;

}

.main{
    display: flex;
    justify-content: left;
}

.card
{
    margin: 50px;
    background-color:#F2913D;
    color: #fff;
    width: 300px;
    height: 370px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.card>img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-lista>h1{
    font-size: 40px;
}
